
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Các hạng mục";
}

@section style{   }

<div class="row">
    <div class="col-12">
        <div id="container" class="elevation-2"></div>
    </div>
</div>

@section script{
    <script>
        const ACTION = "/NS_GoiThau";
        const ACTION_CONTRACTORINFO = "/ContractorInfo";
        const ACTION_LOAITHAU = "/NS_LoaiCongViec";

        var WIDTH_CONTAINER = $("#container").width();

        let customStore = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => { 
                let deferred = $.Deferred(), params = {};
                if (values.filter && values.filter[0] == "parentId") params['FindParentId'] = values.filter[2];
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }

                $.ajax({
                    headers: header,
                    url: URL_API_PM_READ + ACTION,
                    dataType: "json",
                    data: params,
                    success: function (data) { 
                        deferred.resolve(data.result.items);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000 //10 giây
                });

                return deferred.promise();
            },
            insert: (values) => ajax_insert(URL_API_PM_CMD + ACTION, values),
            update: (key, values) => ajax_update(URL_API_PM_CMD + ACTION, key, values),
            remove: (key) => ajax_delete(URL_API_PM_CMD + ACTION, key),
        });
        let customStore_ContractorInfo = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                var deferred = $.Deferred();
                $.ajax({
                    headers: header, dataType: "json",
                    url: URL_API_PM_READ + ACTION_CONTRACTORINFO,
                    success: (data) => deferred.resolve(data.result.items.filter(x => x.isActive == true && x.isVisible==true)),
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách. Mở Console để xem chi tiết.");
                    },
                    timeout: 5000
                });
                return deferred.promise();
            },
            byKey: (key) => { return key; }
        });
        let customStore_LoaiThau = new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                var deferred = $.Deferred();
                $.ajax({
                    headers: header, dataType: "json",
                    url: URL_API_PM_READ + ACTION_LOAITHAU,
                    success: function (data) {
                        var list = data.result.items.filter(x => x.isActive == true && x.isVisible == true); 
                        deferred.resolve(list);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Projects'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });

        $(function () {
            loadData(customStore);
        });

        let loadData = (dataSource) => {
            $("#container").dxTreeList({
                height: heightScreen,
                dataSource: dataSource,
                repaintChangesOnly: true,
                remoteOperations: {
                    filtering: true,
                    sorting: true,
                    grouping: false
                },
                scrolling: { mode: "standard" },
                rootValue: 0, parentIdExpr: "parentId", keyExpr: "id",
                showBorders: false, showColumnHeaders: true, showColumnLines: false, hoverStateEnabled: true,
                showRowLines: true, columnAutoWidth: true, wordWrapEnabled: true, rowAlternationEnabled: false,
                columns: [
                    {
                        dataField: "soHopDong", caption: "Số hợp đồng", dataType: "string",
                        cellTemplate: (c, o) => $("<div>").addClass("font-weight-bold").append(o.value).appendTo(c),
                        validationRules: [{ type: "required" }],
                        editorOptions: {
                            placeholder: "Vui lòng nhập..."
                        }
                    },
                    {
                        dataField: "loaiCongViecID", caption: "Loại công việc", width: 250,
                        lookup: {
                            dataSource: customStore_LoaiThau,
                            valueExpr: "id", displayExpr: "tenLoaiCongViec",
                        },
                        editorType: "dxSelectBox",
                        editorOptions: {
                            dataSource: customStore_LoaiThau,
                            valueExpr: "id", displayExpr: "tenLoaiCongViec",
                            noDataText: "Không tìm thấy dữ liệu",
                            placeholder: "Vui lòng chọn...",
                            searchEnabled: true,
                            itemTemplate: function (data) {
                                return $("<div>").append($("<b>").append(data.tenLoaiCongViec).addClass("mr-1"), $("<em>").append(data.dienGiai));
                            },
                        },
                        validationRules: [{ type: "required" }]
                    },//loaiThauId
                    {
                        dataField: "contractorInfoId", caption: "Nhà thầu", width: 250,
                        lookup: {
                            dataSource: customStore_ContractorInfo,
                            valueExpr: "id", displayExpr: "name",
                        },
                        editorType: "dxSelectBox",
                        editorOptions: {
                            dataSource: customStore_ContractorInfo,
                            valueExpr: "id", displayExpr: "name",
                            noDataText: "Không tìm thấy dữ liệu",
                            placeholder: "Vui lòng chọn...",
                            searchEnabled: true,
                            itemTemplate: function (data) {
                                return $("<div>").append($("<b>").append(data.code).addClass("mr-1"),$("<b>").append(data.name).addClass("mr-1"), $("<em>").append(data.Descriptions));
                            },
                        },
                        validationRules: [{ type: "required" }]
                    },//contractorInfoId
                    {
                        dataField: "giaTri", caption: "Giá trị", dataType: "number", 
                        width: 150, alignment: "center", format: "###,### đ"
                    },
                    {
                        dataField: "ngayKy", caption: "Ngày ký", dataType: "date", 
                        width: 150, alignment: "center", format:"dd/MM/yyyy"
                    },
                    {
                        dataField: "dienGiai", caption: "Diễn giải", dataType: "string", 
                        width: 300, alignment: "left"
                    }, 
                    {
                        dataField: "isActive", width: 100, alignment: "center",
                        editorType: "dxSwitch",
                    },
                    {
                        dataField: "isVisible", width: 100, alignment: "center",
                        editorType: "dxSwitch",
                    },
                    {
                        type: "buttons", caption: "Tác vụ",
                        width: 120, alignment: "center",
                        buttons: ["add", "edit", "delete"]
                    }
                ],
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    highlightCaseSensitive: true,
                    highlightSearchText: true,
                    searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                editing: {
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    mode: "cell",
                    useIcons: false,
                    confirmDelete: true,
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "after", widget: "dxButton",
                            options: {
                                icon: "refresh", tylingMode: "filled", type: "default",
                                onClick: () => container.refresh()
                            }
                        })
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 0)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                }
            });
        }
    </script>
}