
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Danh sách loại công việc";
}

@section style{   }

<div class="row">
    <div class="col-12">
        <div id="container" class="elevation-2"></div>
    </div>
</div>

@section script{
    <script src="~/Scripts/page/ngansach.js"></script>
    <script>
        var customStore = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                let deferred = $.Deferred();
                var params = {
                    'FindId': 'projectId,' + PROJECTID,
                    'PageSize': isNullOrEmpty(values.take) ? values.take : 0,
                    'PageNumber': (isNullOrEmpty(values.take) && isNullOrEmpty(values.skip)) ? ((values.skip / values.take) + 1) : 0,
                };
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }

                $.ajax({
                    headers: header,
                    url: URL_API_PM_READ + ACTION_LOAICONGVIEC,
                    dataType: "json",
                    data: params,
                    success: function (data) {
                        deferred.resolve(data.result.items, { totalCount: data.result.pagingInfo.totalItems });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách. Mở Console để xem chi tiết.");
                    },
                    timeout: 5000
                });
                return deferred.promise();
            },
            insert: (values) => ajax_insert(URL_API_PM_CMD + ACTION_LOAICONGVIEC, values),
            update: (key, values) => ajax_update(URL_API_PM_CMD + ACTION_LOAICONGVIEC, key, values),
            remove: (key) => ajax_delete(URL_API_PM_CMD + ACTION_LOAICONGVIEC, key),
        }); 

        $(function () {
            loadData(customStore);
        });

        let loadData = (dataSource) => $("#container").dxDataGrid({
            height: heightScreen,
            dataSource: customStore,
            repaintChangesOnly: true,
            remoteOperations: {
                paging: true,
                sorting: true,
                filtering: true,
            },
            showBorders: false, showColumnHeaders: true, showColumnLines: false, hoverStateEnabled: true,
            showRowLines: true, columnAutoWidth: true, wordWrapEnabled: true, rowAlternationEnabled: true,
            columns: [
                {
                    caption: "STT", dataField: "status", sortOrder: "desc",
                    dataType: "number", width: 100, alignment: "center",
                    cellTemplate: (c, o) => c.append(o.rowIndex + 1)
                },
                {
                    dataField: "tenLoaiCongViec", caption: "Tên loại công việc",
                    dataType: "string", alignment: "left",
                    editorType: "dxTextBox",
                    editorOptions: {
                        placeholder: "Vui lòng nhập...",
                        showClearButton: true,
                    },
                    validationRules: [{ type: "required" }]
                },
                {
                    dataField: "kyHieu", caption: "Ký Hiệu",
                    dataType: "string", customizeText: (e) => (e.value != null ? e.value : '--'),
                },
                {
                    dataField: "dienGiai", caption: "Diễn giải",
                    dataType: "string", alignment: "left",
                    customizeText: (e) => (e.value != null ? e.value : '--'),
                    editorType: "dxTextBox",
                    editorOptions: {
                        placeholder: "Vui lòng nhập (nếu có)...", showClearButton: true,
                    },
                },
                {
                    dataField: "isActive", width: 100, alignment: "center",
                    lookup: {
                        dataSource: listActiveStatus,
                        valueExpr: "value", displayExpr: "text",
                    },
                    cellTemplate: (c, o) => $("<span />").addClass("badge badge-" + listActiveStatus.find(x => x.value == o.value).color).append($("<i />").addClass("mr-1 " + listActiveStatus.find(x => x.value == o.value).icon), o.text).appendTo(c)
                } 
            ],
            paging: {
                enabled: true,
                pageSize: 20
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 20, 40],
                showInfo: true,
            },
            searchPanel: {
                highlightCaseSensitive: true,
                highlightSearchText: true,
                searchVisibleColumnsOnly: true,
                visible: true
            },
            editing: {
                allowAdding: PermitInAction["insert"] ? true : null,
                allowUpdating: PermitInAction["update"] ? true : null,
                allowDeleting: PermitInAction["delete"] ? true : null,
                mode: "cell", useIcons: false, confirmDelete: true,
            },
            onToolbarPreparing: function (e) {
                var container = e.component;
                e.toolbarOptions.items.unshift(
                    {
                        location: "before", widget: "dxSelectBox",
                        options: {
                            dataSource: customStore_Projects,
                            valueExpr: "id", displayExpr: "title",
                            searchEnabled: true,
                            searchMode: "contains",
                            width: "100%",
                            showClearButton: false,
                            value: PROJECTID,
                            onValueChanged: function (data) {
                                PROJECTID = data.value;
                                localStorage.setItem('projectIdCurrent', PROJECTID);
                                loadData(customStore);
                            },
                        },
                    },
                    {
                        location: "after", widget: "dxButton",
                        options: {
                            icon: "refresh", type: "default",
                            onClick: () => container.refresh()
                        }
                    })
            },
            onInitNewRow: (e) => {
                e.data.isActive = true;
                e.data.isVisible = true;
                e.data.projectId = PROJECTID;
            },
            rowDragging: {
                allowReordering: PermitInAction["update"],
                showDragIcons: true,
                dropFeedbackMode: "push",
                dragDirection: "vertical",
                onDragEnd: function (e) {
                    var source = e.itemData,
                        target = e.component.getVisibleRows()[e.toIndex].data,
                        d = $.Deferred();
                    if (source.id != target.id) {
                        customStore.update(source.id, { status: target.status }).then(() => {
                            e.component.refresh().then(d.resolve, d.reject);
                        }, d.reject);
                    }
                },
            },
        });
    </script>
}