@model int
<!--<div class="demo-container">-->
@*<div class="long-title"><h3>Personal details</h3></div>*@
<!--<div id="form-container">
        <div id="form-custom"></div>
    </div>
</div>-->
<form id="form-custom" action="#" method="POST" enctype="application/json">
</form>
<style>
</style>
<script>
    var customStore_SELECT = (link) => customStore_GET_LINK(link);
    $(function () {

        customStore_CUSTOMFORMCONTENTDETAIL(@Model).load().done((rs) => {
            console.log(rs);
            var form = $("#form-custom").dxForm({
                colCount: 1,
                formData: rs,
                items: [
                    {
                        itemType: "group",
                        name: "Phones",
                        items: getGroupOptions(rs[0].customFormDetailDTO.customFormBodyDetailDTOs),
                    },
                    {
                        itemType: "button",
                        horizontalAlignment: "center",
                        buttonOptions: {
                            text: "Lưu lại",
                            icon: "fa fa-save",
                            type: "success",
                            useSubmitBehavior: true,
                            elementAttr: {
                                id: "submit",
                            }
                        }
                    },
                ]
            }).dxForm("instance");
            function getGroupOptions(customFormBodyDetail) {
                var groups = [];
                for (var i = 0; i < customFormBodyDetail.length; i++) {
                    groups.push({
                        itemType: "group",
                        caption: customFormBodyDetail[i].header,
                        name: customFormBodyDetail[i].header,
                        items: getInputOptions(customFormBodyDetail[i].customTableDetailDTO.customColumDetailDTOs, customFormBodyDetail[i].customTableDetailDTO.title, customFormBodyDetail[i].id),
                    });
                }
                return groups;
            }
            function getInputOptions(colums,type,customFromBodyId) {
                var options = [];
                for (var i = 0; i < colums.length; i++) {
                    var opt = generateNewInputOptions(colums[i], i, type, customFromBodyId);
                    if (opt !== null) {
                        options.push(opt);
                    }
                }
                return options;
            }

            function generateNewInputOptions(object, index, type, customFromBodyId) {
                console.log(index);
                if (type === "TextBox") {
                    console.log("abc");
                    console.log(index);
                    console.log(object);
                    return {
                        dataField:  customFromBodyId+'_'+ object.id + '_' + index,
                        label: { text: " " },
                        editorType: "dxTextBox",
                        cssClass: "custom-textbox",
                        editorOptions: {
                            value: object.customCellContentDTOs[0].contents,
                            elementAttr: {
                                 id:  customFromBodyId+'_'+ object.id + '_' + index,
                            }
                            //mask: "+1 (X00) 000-0000",
                            //maskRules: { "X": /[01-9]/ },
                            //buttons: [{
                            //    name: "trash",
                            //    location: "after",
                            //    options: {
                            //        stylingMode: "text",
                            //        icon: "trash",
                            //        onClick: function () {
                            //            employee.Phones.splice(index, 1);
                            //            form.itemOption("phones-container.phones", "items", getPhonesOptions(employee.Phones));
                            //        }
                            //    }
                            //}]
                        }
                    }
                }
                else if (type === "SelectBox")
                {
                    return {
                        dataField: customFromBodyId+'_'+ object.id + '_' + index,
                        label: { text: "Input" },
                        displayExpr: "userName",
                        valueExpr: "userName",
                        editorType: "dxSelectBox",
                        cssClass: "custom-textbox",
                        editorOptions: {
                            value: object.customCellContentDTOs[0].contents,
                            elementAttr: {
                                id:  customFromBodyId+'_'+ object.id + '_' + index,
                            },
                            dataSource: customStore_SELECT(object.sourceLink),
                            displayExpr: "userName",
                            valueExpr: "userName",
                        }
                    };

                }
                else
                {
                    return null;
                }
            }
        });
        $("#form-custom").on("submit", function (e) {
            //test(fdatatest);
            e.preventDefault();
 
            var fdata = new FormData();
            fdata.append("customformContentId", @Model);
            fdata.append("token", UserCurrentInfo.accessToken);
            var inputs = document.getElementById("form-custom").elements;
            // Iterate over the form controls
            for (i = 0; i < inputs.length; i++) {
                if (inputs[i].nodeName === "INPUT" && inputs[i].name !== null && inputs[i].name !== '') {
                    // Update text input
                    //inputs[i].value.toLocaleUpperCase();
                    fdata.append(inputs[i].name, inputs[i].value);
                }
            }


            @*$.each(formData, function (key, value) {
                fdata.append(key, value);
            });

            fdata.append('customFormContentId', @Model);
            for (var pair of fdata.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }*@
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/ThongTin/VanBanMau/Test",
                data: fdata,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (rs) {
                    loadingPanel.hide();
                    DevExpress.ui.notify(rs.result, rs.status, 3000);
                    if (rs.status == "success") {
                        $("#popup-register").dxPopup('instance').hide();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    loadingPanel.hide();
                    DevExpress.ui.notify("Có lỗi xảy ra: " + errorThrown, "error", 3000);
                }
            });
            e.preventDefault();
            //var files = $(".file-uploader").dxFileUploader("instance").option("value");
            //if (files.length > 0) {
            //    $.each(files, function (key, value) {
            //        fdata.append(files[key].name, files[key]);
            //    });

            //}
            //else {
            //    DevExpress.ui.notify("Vui lòng chọn file đính kèm", "error", 3000);
            //    e.preventDefault();
            //    return false;
            //};


        });
    });
</script>


