@model int
@*<form id="form-regist" action="#" method="POST" enctype="application/json">
</form>*@
<div id="popup-register"></div>
<div class="row">
    <div class="col-12">
        <div id="container-popup" class="elevation-2"></div>
    </div>
</div>
<script>

    $(function () {
        loadID();
    });

    var loadID = () => {
        $("#container-popup").dxDataGrid({
            height: heightScreen,
            dataSource: customStore_CUSTOMFORMBODY('customFormId,' +@Model),
            remoteOperations: {
                filtering: true,
                sorting: true,
                grouping: false
            },
            showBorders: false,
            showColumnHeaders: true,
            showColumnLines: false,
            hoverStateEnabled: true,
            showRowLines: true,
            columnAutoWidth: true,
            wordWrapEnabled: true,
            rowAlternationEnabled: true,
            columns: [
                {
                    dataField: "header",
                    caption: "Tiêu đề",
                    dataType: "string",
                },
                {
                    dataField: "customTableId",
                    caption: "Loại hiểm thị",
                    dataType: "number",
                    lookup: {
                        dataSource: customStore_CUSTOMTABLE,
                        valueExpr: "id",
                        displayExpr: "title",
                    },
                    editorType: "dxLookup",
                    editorOptions: {
                        dataSource: customStore_CUSTOMTABLE,
                        valueExpr: "id",
                        displayExpr: "title",
                        placeholder: "Vui lòng chọn...",
                        searchEnabled: true,
                        showClearButton: true,
                        itemTemplate: function (data) {
                            return $("<div>").append($("<b>").append(data.code).addClass("mr-1"), $("<em>").append(data.title));
                        },
                    },
                    validationRules: [{ type: "required" }],
                },
                {
                    dataField: "priority",
                    caption: "Thứ tự",
                    dataType: "number",
                },
                {
                    type: "buttons", caption: "Tác vụ",
                    width: 120, alignment: "center",
                    buttons: ["edit", "delete"],
                }
            ],
            paging: { enabled: true, pageSize: 20 },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 20, 40],
                showInfo: true,
            },
            searchPanel: {
                highlightCaseSensitive: true,
                highlightSearchText: true,
                searchVisibleColumnsOnly: true,
                visible: WIDTH_CONTAINER > 350
            },
            editing: {
                allowAdding: true,
                allowUpdating: true,
                allowDeleting: true,
                mode: "popup",
                useIcons: false,
                confirmDelete: true,
            },
            onToolbarPreparing: function (e) {
                var container = e.component;
                e.toolbarOptions.items.unshift(
                    {
                        location: "after",
                        widget: "dxButton",
                        options: {
                            icon: "refresh",
                            stylingMode: "filled",
                            type: "default",
                            onClick: () => container.refresh()
                        }
                    },
                )
            },
            onInitNewRow: (e) => {
                e.data.isActive = true;
                e.data.isVisible = true;
                e.data.customFormId = @Model;
            },
            onCellPrepared: (e) => {
                if (e.rowType == "data" && e.columnIndex == 1)
                    e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
            },
            onCellClick: function (e) {
                if (e.column.dataField === "noAttachment") {
                    loadUpload("DocumentReleased", e.row.data, false);
                }
            },
            //masterDetail: {
            //    autoExpandAll: false,
            //    component: null,
            //    enabled: true,
            //    render: null,
            //    template: function (container, options) {
            //        $("<div>").dxDataGrid({
            //            showBorders: false,
            //            showColumnHeaders: false,
            //            showColumnLines: false,
            //            hoverStateEnabled: true,
            //            showRowLines: true,
            //            columnAutoWidth: true,
            //            wordWrapEnabled: true,
            //            rowAlternationEnabled: true,
            //            columnAutoWidth: true,
            //            showBorders: true,
            //            dataSource: customStore_DETAIL(options.data.id),
            //            columns: [
            //            ],
            //            editing: {
            //                //allowAdding: true,
            //                allowUpdating: false,
            //                allowDeleting: false,
            //                mode: "popup",
            //                useIcons: true,
            //                confirmDelete: true,
            //                popup: {
            //                    width: 600, height: "auto",
            //                    showTitle: true, title: "Trình duyệt",
            //                    closeOnOutsideClick: false, showCloseButton: true,
            //                },
            //            },
            //            onInitNewRow: (e) => {
            //                e.data.isActive = true;
            //                e.data.isVisible = true;
            //            },
            //            onToolbarPreparing: function (e) {
            //                var container = e.component;
            //                e.toolbarOptions.items.unshift(
            //                    {
            //                        location: "after",
            //                        widget: "dxButton",
            //                        options: {
            //                            icon: "refresh",
            //                            stylingMode: "filled",
            //                            type: "default",
            //                            onClick: () => container.refresh()
            //                        }
            //                    },
            //                )
            //            },
            //        }).attr("style", "margin:auto; width:90%").appendTo(container);
            //    },
            //},
            onContentReady: (e) => {
                e.component;
            },
        });
    };
</script>

