
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div id="container" class="elevation-2"></div>
    </div>
</div>
@section script{
    <script src="~/Scripts/page/ngansach.js"></script>
    <script>
        var customStore = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                let deferred = $.Deferred();
                var params = {
                    'PageSize': isNullOrEmpty(values.take) ? values.take : 0,
                    'PageNumber': (isNullOrEmpty(values.take) && isNullOrEmpty(values.skip)) ? ((values.skip / values.take) + 1) : 0,
                };
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }

                $.ajax({
                    headers: header,
                    url: URL_API_PM_READ + ACTION_PHAT,
                    dataType: "json",
                    data: params,
                    success: function (data) {
                        deferred.resolve(data.result.items, {
                            totalCount: data.result.pagingInfo.totalItems
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách. Mở Console để xem chi tiết.");
                    },
                    timeout: 5000
                });
                return deferred.promise();
            },
            insert: (values) => ajax_insert(URL_API_PM_CMD + ACTION_PHAT, values),
            update: (key, values) => ajax_update(URL_API_PM_CMD + ACTION_PHAT, key, values),
            remove: (key) => ajax_delete(URL_API_PM_CMD + ACTION_PHAT, key),
        });

        $(function () {
            loadData();
        });

        var loadData = () => $("#container").dxDataGrid(dataGridOptions).dxDataGrid({ 
            dataSource: customStore,
            remoteOperations: {
                paging: true,
                sorting: true, 
            },  
            editing: {
                allowUpdating: PermitInAction["update"] ? true : null,
                allowDeleting: PermitInAction["delete"] ? true : null,
                mode: "cell", useIcons: false, confirmDelete: true,
            },
            onToolbarPreparing: function (e) {
                var container = e.component;
                e.toolbarOptions.items.unshift(
                    {
                        location: "before", widget: "dxButton",
                        options: {
                            visible: PermitInAction["insert"],
                            text: "Phạt", icon: "add", stylingMode: "filled", type: "default",
                            onClick: () => container.addRow()
                        }
                    },
                    {
                        location: "after", widget: "dxButton",
                        options: {
                            icon: "refresh", type: "default",
                            onClick: () => container.refresh()
                        }
                    });
            },
            onInitNewRow: (e) => {
                e.data.isActive = true;
            },
            columns: [
                {
                    dataField:""
                }
            ],
        }).dxDataGrid("instance");
    </script>
}
