@{ 
    ViewBag.Title = "Giới hạn quyền truy cập";
}
<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger font-weight-bold">401</h2>
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> Giới hạn quyền truy cập.</h3>
            <p>
                Tài khoản này không có quyền truy cập vào tính năng năng đã chọn<br />
                Để tiếp tục vui lòng liên hệ <em class="font-weight-bolder text-tayho">Phòng Hệ thống</em> hoặc <a class="font-weight-bolder text-tayho" href="/Home">trở lại</a> màn hình chính.
            </p>
        </div>
    </div>
</section>