@model int
<form id="form-regist" action="#" method="POST" enctype="application/json">
</form>

<script>
    var formData = {
        "planRegisterId": ""
        , "documentTypeId": ""
        , "workItemId": ""
        , "title": ""
        , "descriptions": ""
        , "note": ""
    };
    var fdata = new FormData();
    $(document).ready(function () {
        var params = {
            'PageSize': 0,
            'PageNumber': 0,
            'FindId': @Model,
        }
        $.ajax({
            headers: header,
            url: URL_API_PM_READ + ACTION,
            dataType: "json",
            data: params,
            async: false,
            success: function (data) {
                let list = data.result.items;
                console.log(list);
                formData = {
                    "planRegisterId": list[0].planRegisterId
                    , "documentTypeId": list[0].documentTypeId
                    , "workItemId": list[0].workItemId
                    , "title": list[0].title
                    , "descriptions": list[0].descriptions
                    , "note": list[0].note
                };
            },
            complete: function (e) {

                 var formInstance = $("#form-regist").dxForm({
            formData: formData,
            labelLocation: "top",
            items: [
                {
                    itemType: "group",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 12,
                            dataField: "planRegisterId",
                            label: { text: "Kế hoạch" },
                            lookup: {
                                dataSource: customStore_PLAN(""),
                                valueExpr: "id", displayExpr: "title",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                value: formData["planRegisterId"],
                                searchMode: "contains",
                                searchExpr: ['code', 'title'],
                                showClearButton: true,
                                readOnly: true,
                                dataSource: customStore_PLAN(""),
                                valueExpr: "id",
                                displayExpr: "title",
                                placeholder: "Vui lòng chọn...",
                                searchEnabled: true, showClearButton: true,
                                itemTemplate: function (data) {
                                    return $("<div>").append($("<b>").append(data.title).addClass("mr-1"));
                                },
                                onValueChanged: function (data) {
                                    /////// loại tài liệu
                                    $('#elementDocumentTypeId').dxSelectBox('instance')
                                        .option('disabled', data.value != null);
                                    if (data.value != null) {
                                        customStore_PLAN(data.value).load().then((rs) => {
                                            $('#elementDocumentTypeId').dxSelectBox('instance')
                                                .option('value', rs[0].documentTypeId == null ? 0 : rs[0].documentTypeId);
                                        });
                                    }
                                    else {
                                        $('#elementDocumentTypeId').dxSelectBox('instance')
                                            .option('value', null);
                                    };

                                    ///////// Hạng mục
                                    $('#elementHangMucId').dxSelectBox('instance')
                                        .option('disabled', data.value != null);
                                    if (data.value != null) {
                                        customStore_PLAN(data.value).load().then((rs) => {
                                            $('#elementHangMucId').dxSelectBox('instance')
                                                .option('value', rs[0].workItemId == null ? 0 : rs[0].workItemId);
                                        });
                                    }
                                    else {
                                        $('#elementHangMucId').dxSelectBox('instance')
                                            .option('value', null);
                                    };
                                    ///////// Tiêu đề
                                    if (data.value != null) {
                                        customStore_PLAN(data.value).load().then((rs) => {
                                            $('#elementTitle').dxTextBox('instance')
                                                .option('value', rs[0].title == null ? 0 : rs[0].title);
                                        });
                                    }
                                    else {
                                        $('#elementTitle').dxTextBox('instance')
                                            .option('value', null);
                                    };

                                },
                            },
                        },
                        {
                            colSpan: 12,
                            dataField: "documentTypeId",
                            label: { text: "Loại tài liệu" },
                            lookup: {
                                dataSource: customStore_DocumetnType,
                                valueExpr: "id",
                                displayExpr: "title",
                            },
                            editorType: "dxTextBox",
                            editorType: "dxSelectBox",
                            editorOptions: {
                                value: formData["documentTypeId"],
                                readOnly:true,
                                dataSource: customStore_DocumetnType,
                                valueExpr: "id", displayExpr: "title",
                                elementAttr: {
                                    id: "elementDocumentTypeId",
                                }
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 12,
                            dataField: "workItemId",
                            label: { text: "Hạng mục" },
                            lookup: {
                                dataSource: customStore_HangMuc,
                                valueExpr: "id",
                                displayExpr: "title",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                readOnly: true,
                                value: formData["workItemId"],
                                dataSource: customStore_HangMuc,
                                valueExpr: "id",
                                displayExpr: "title",
                                elementAttr: {
                                    id: "elementHangMucId",
                                }
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 12,
                            dataField: "title",
                            label: { text: "Tiêu đề" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                value: formData["title"],
                                dataSource: customStore_HangMuc,
                                valueExpr: "id",
                                displayExpr: "title",
                                elementAttr: {
                                    id: "elementTitle",
                                }
                            },
                        },
                        {
                            colSpan: 12,
                            dataField: "descriptions",
                            label: { text: "Mô tả" },
                            editorType: "dxTextArea",
                            editorOptions: {
                                value: formData["descriptions"],
                            },
                        },
                        {
                            colSpan: 12,
                            dataField: "note",
                            label: { text: "Ghi chú" },
                            editorOptions: {
                                value: formData["descriptions"],
                            },
                        },
                        {

                            colSpan: 12,
                            template: '<span class="dx-field-item-label-text font-bold">Các tập tin đính kèm</span><div class="file-uploader"></div>',

                        },
                    ]
                },
                {
                    itemType: "button",
                    horizontalAlignment: "center",
                    buttonOptions: {
                        text: "Trình tài liệu",
                        icon: "fa fa-save",
                        type: "success",
                        useSubmitBehavior: true,
                        elementAttr: {
                            id: "submit",
                        }
                    }
                },

            ],
            onFieldDataChanged: function (e) {
                var newFormData = e.component.option("formData");
            }
        }).dxForm("instance");
            },
            //error: function (xhr, textStatus, errorThrown) {

            //},
        });

        $(".file-uploader").dxFileUploader({
            selectButtonText: "Chọn tập tin...",
            labelText: "Hoặc kéo thả vào đây",
            showFileList: true,
            multiple: true,
            uploadMode: "useForm",
            allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
            maxFileSize: 10000000,
        });
        $("#form-regist").on("submit", function (e) {
            loadingPanel.show();
            var fdata = new FormData();
            var i = 10;
            $.each(formData, function (key, value) {
                fdata.append(key, value);
            });
            console.log(PROJECTID);
            fdata.append('projectId', PROJECTID);
            fdata.append('parentId', @Model);
            fdata.append('token', UserCurrentInfo.accessToken);
            var files = $(".file-uploader").dxFileUploader("instance").option("value");
            if (files.length > 0) {
                $.each(files, function (key, value) {
                    fdata.append(files[key].name, files[key]);
                });

            }
            else {
                DevExpress.ui.notify("Vui lòng chọn file đính kèm", "error", 3000);
                e.preventDefault();
                return false;
            };

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/ThongTin/DangKy/Create",
                data: fdata,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (rs) {
                    loadingPanel.hide();
                    DevExpress.ui.notify(rs.result, rs.status, 3000);
                    if (rs.status == "success") {
                        $("#popup-register").dxPopup('instance').hide();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    loadingPanel.hide();
                    DevExpress.ui.notify("Có lỗi xảy ra: " + errorThrown, "error", 3000);
                }
            });
            e.preventDefault();
        });

    });
</script>
