<form id="form-regist" action="#" method="POST" enctype="application/json">
</form>

<script>
    var formData = {
        "planRegisterId": ""
        , "documentTypeId": ""
        , "workItemId": ""
        , "title": ""
        , "descriptions": ""
        , "note": ""
    };
    var fdata = new FormData();
    var fdatatest = new FormData();
    fdatatest.append('projectId', 1);
    fdatatest.append('planRegisterId', 2);
    fdatatest.append('documentTypeId', 1);
    fdatatest.append('workItemId', 1);
    fdatatest.append('title', '123');
    fdatatest.append('descriptions', '456');
    fdatatest.append('note', 'test');
    function acb() { alert('fuck') };
    var docmentFilter = 0;
    var workItemFilter = 0;


    $(document).ready(function () {
        var formInstance = $("#form-regist").dxForm({
            formData: formData,
            labelLocation: "top",
            items: [
                {
                    itemType: "group",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 12,
                            dataField: "documentTypeId",
                            label: { text: "Loại tài liệu" },
                            lookup: {
                                dataSource: customStore_DocumetnType,
                                valueExpr: "id",
                                displayExpr: "title",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                value: formData["documentTypeId"],
                                dataSource: customStore_DocumetnType,
                                valueExpr: "id",
                                displayExpr: "title",
                                elementAttr: {
                                    id: "elementDocumentTypeId",
                                },
                                onValueChanged: function (e) {
                                    var selTarget = $('#elementPlanRegisterId').dxSelectBox('instance');
                                    docmentFilter = e.value;
                                    if (workItemFilter > 0) {
                                        selTarget.option("dataSource", customStore_PLAN("documentTypeId," + docmentFilter + ";workItemId," + workItemFilter));
                                    }
                                    else {
                                        selTarget.option("dataSource", customStore_PLAN("documentTypeId," + docmentFilter ));
                                    }
                                   
                                    //selTarget.option("dataSource", store);
                                    //selTarget.option("dataSource", customStore_PLAN("").load().then((rs) => { console.log(rs.filter(x => x.documentTypeId === e.value)); return rs.filter(x => x.documentTypeId === e.value); }));
                                    //$('#elementPlanRegisterId').dxSelectBox("getDataSource").reload();
                                }
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 12,
                            dataField: "workItemId",
                            label: { text: "Hạng mục" },
                            lookup: {
                                dataSource: customStore_HangMuc,
                                valueExpr: "id",
                                displayExpr: "title",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                value: formData["workItemId"],
                                dataSource: customStore_HangMuc,
                                valueExpr: "id",
                                displayExpr: "title",
                                elementAttr: {
                                    id: "elementHangMucId",
                                },
                                onValueChanged: function (e) {

                                    var selTarget = $('#elementPlanRegisterId').dxSelectBox('instance');
                                    workItemFilter = e.value;
                                    if (docmentFilter > 0) {
                                        selTarget.option("dataSource", customStore_PLAN("documentTypeId," + docmentFilter + ";workItemId," + workItemFilter));
                                    }
                                    else {
                                        selTarget.option("dataSource", customStore_PLAN("workItemId," + workItemFilter));
                                    }
                                  
                                }
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 12,
                            dataField: "planRegisterId",
                            label: { text: "Kế hoạch" },
                            lookup: {
                                dataSource: customStore_PLAN(""),
                                valueExpr: "id",
                                displayExpr: "title",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                dataSource: customStore_PLAN(""),
                                value: formData["planRegisterId"],
                                searchMode: "contains",
                                searchExpr: ['code', 'title'],
                                showClearButton: true,
                                valueExpr: "id",
                                displayExpr: "title",
                                placeholder: "Vui lòng chọn...",
                                searchEnabled: true,
                                showClearButton: true,
                                itemTemplate: function (data) {
                                    return $("<div>").append($("<b>").append(data.title).addClass("mr-1"));
                                },
                                elementAttr: {
                                    id: "elementPlanRegisterId",
                                },
                                onValueChanged: function (data) {
                                    /////// loại tài liệu
                                    $('#elementDocumentTypeId').dxSelectBox('instance')
                                        .option('disabled', data.value != null);
                                    if (data.value != null) {
                                        customStore_PLAN(data.value).load().then((rs) => {
                                            $('#elementDocumentTypeId').dxSelectBox('instance')
                                                .option('value', rs[0].documentTypeId == null ? 0 : rs[0].documentTypeId);
                                        });
                                    }
                                    else {
                                        $('#elementDocumentTypeId').dxSelectBox('instance')
                                            .option('value', null);
                                    };

                                    ///////// Hạng mục
                                    $('#elementHangMucId').dxSelectBox('instance')
                                        .option('disabled', data.value != null);
                                    if (data.value != null) {
                                        customStore_PLAN(data.value).load().then((rs) => {
                                            $('#elementHangMucId').dxSelectBox('instance')
                                                .option('value', rs[0].workItemId == null ? 0 : rs[0].workItemId);
                                        });
                                    }
                                    else {
                                        $('#elementHangMucId').dxSelectBox('instance')
                                            .option('value', null);
                                    };
                                    ///////// Tiêu đề
                                    if (data.value != null) {
                                        customStore_PLAN(data.value).load().then((rs) => {
                                            $('#elementTitle').dxTextBox('instance')
                                                .option('value', rs[0].title == null ? 0 : rs[0].title);
                                        });
                                    }
                                    else {
                                        $('#elementTitle').dxTextBox('instance')
                                            .option('value', null);
                                    };

                                },
                            },
                        },
                    
                        {
                            colSpan: 12,
                            dataField: "title",
                            label: { text: "Tiêu đề" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                value: formData["title"],
                                dataSource: customStore_HangMuc,
                                valueExpr: "id",
                                displayExpr: "title",
                                elementAttr: {
                                    id: "elementTitle",
                                }
                            },

                        },
                        {
                            colSpan: 12,
                            dataField: "descriptions",
                            label: { text: "Mô tả" },
                            editorType: "dxTextArea",
                            editorOptions: {
                                value: formData["descriptions"],
                            },

                        },
                        {
                            colSpan: 12,
                            dataField: "note",
                            label: { text: "Ghi chú" },
                            editorOptions: {
                                value: formData["descriptions"],
                            },
                        },
                        {
                            colSpan: 12,
                            template: '<span class="dx-field-item-label-text font-bold">Các tập tin đính kèm</span><div class="file-uploader"></div>',
                        },
                    ]
                },
                {
                    itemType: "button",
                    horizontalAlignment: "center",
                    buttonOptions: {
                        text: "Trình tài liệu",
                        icon: "fa fa-save",
                        type: "success",
                        useSubmitBehavior: true,
                        elementAttr: {
                            id: "submit",
                        }
                    }
                },

            ],
            onFieldDataChanged: function (e) {
                var newFormData = e.component.option("formData");
            }
        }).dxForm("instance");

        var fileUploader = $(".file-uploader").dxFileUploader({
            selectButtonText: "Chọn tập tin...",
            labelText: "Hoặc kéo thả vào đây",
            showFileList: true,
            multiple: true,
            uploadMode: "useForm",
            accept: ".jpg,.jpeg,.gif,.png,.pdf",
            allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
            maxFileSize: 52428800,
        }).dxFileUploader("instance");
        $("#form-regist").on("submit", function (e) {
            e.preventDefault();
            loadingPanel.show();
            var fileWrappers = fileUploader._files;
            var resValid = true
            for (var i = 0; i < fileWrappers.length; i++) {
                if (fileWrappers[i].isValid() === false) {
                    resValid = false;
                }
            }
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
                loadingPanel.hide();
            }
            else {
                var fdata = new FormData();
                $.each(formData, function (key, value) {
                    fdata.append(key, value);
                });
                fdata.append('projectId', PROJECTID);
                fdata.append('token', UserCurrentInfo.accessToken);
                for (var pair of fdata.entries()) {
                    console.log(pair[0] + ', ' + pair[1]);
                }
                //$("#popup-register").dxPopup("toggle", false);
                //$("#popup-register").dxPopup("instance").hide();

                var files = $(".file-uploader").dxFileUploader("instance").option("value");
                if (files.length > 0) {
                    $.each(files, function (key, value) {
                        fdata.append(files[key].name, files[key]);
                    });

                }
                else {
                    DevExpress.ui.notify("Vui lòng chọn file đính kèm", "error", 3000);
                    e.preventDefault();
                    return false;
                };

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/ThongTin/DangKy/Create",
                    data: fdata,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (rs) {
                        loadingPanel.hide();
                        DevExpress.ui.notify(rs.result, rs.status, 3000);
                        if (rs.status == "success") {
                            $("#popup-register").dxPopup('instance').hide();
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        loadingPanel.hide();
                        DevExpress.ui.notify("Có lỗi xảy ra: " + errorThrown, "error", 3000);
                    }
                });

            }

        });

    });


</script>
