@section style{
    <style>
        .content-wrapper {
            background-size: cover;
            background-image: url('https://qltt.tayho.com.vn/Content/images/bg_login.jpg')
        }
    </style>
}

<div id="container"></div>

@section script{
    <script> 
    </script>
}