
@{
    ViewBag.Title = "CustomColum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div id="container" class="elevation-2"></div>
    </div>
</div>
@section script{
    <script src="~/Scripts/page/thongtin.js"></script>
    <script>
        //--------------------READ------------------------------
        const ACTION = "/CustomColum";
        const ACTION_CUSTOMTABLE = "/CustomTable";

        //--------------------CMD------------------------------
        const ACTION_CMD = "/CustomColum";


        var WIDTH_CONTAINER = $("#container").width();

        let customStore = customStore_CMD_READ(ACTION_CMD, ACTION);
        let customStore_CUSTOMTABLE = customStore_READ_ALL(ACTION_CUSTOMTABLE);


        $(function () {
            loadData();
        });

        let loadData = () => {
            $("#container").dxDataGrid({
                height: heightScreen,
                dataSource: customStore,
                repaintChangesOnly: true,
                remoteOperations: {
                    filtering: true,
                    sorting: true,
                    grouping: false
                },
                grouping: {
                    autoExpandAll: false,
                },
                groupPanel: {
                    visible: true
                },
                scrolling: { mode: "standard" },
                rootValue: 0,
                parentIdExpr: "parentId",
                keyExpr: "id",
                showBorders: false, showColumnHeaders: true, showColumnLines: false, hoverStateEnabled: true,
                showRowLines: true, columnAutoWidth: true, wordWrapEnabled: true, rowAlternationEnabled: false,
                columns: [
                    {
                        dataField: "customTableId",
                        //groupIndex: 0,
                        caption: "Tên dữ liệu",
                        dataType: "number",
                        lookup: {
                            dataSource: customStore_CUSTOMTABLE,
                            valueExpr: "id",
                            displayExpr: "title",
                        },
                        editorType: "dxSelectBox",
                        editorOptions: {
                            dataSource: customStore_CUSTOMTABLE,
                            valueExpr: "id",
                            displayExpr: "title",
                            placeholder: "Vui lòng chọn...",
                            searchEnabled: true,
                            showClearButton: true,
                            itemTemplate: function (data) {
                                return $("<div>").append($("<b>").append(data.code).addClass("mr-1"), $("<em>").append(data.title));
                            },
                        },
                        validationRules: [{ type: "required" }],
                    },
                    {
                        dataField: "colIndex",
                        caption: "Vị trí",
                        dataType: "number",
                    },
                    {
                        dataField: "header",
                        caption: "Tên cột",
                        dataType: "string",
                    },
                    {
                        dataField: "typeParam",
                        caption: "Kiểu dữ liệu",
                        dataType: "string",
                    },
                    {
                        dataField: "sourceValue",
                        caption: "Giá trị mặc định",
                        dataType: "string",
                    },
                    {
                        dataField: "sourceLink",
                        caption: "Đường dẫn",
                        dataType: "string",
                    },
                    {
                        dataField: "isActive",
                        width: 100,
                        alignment: "center",
                        editorType: "dxSwitch",
                    },
                    {
                        dataField: "isVisible",
                        width: 100,
                        alignment: "center",
                        editorType: "dxSwitch",
                    },
                    {
                        type: "buttons", caption: "Tác vụ",
                        width: 120, alignment: "center",
                        buttons: ["add", "edit", "delete"]
                    }
                ],
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    highlightCaseSensitive: true,
                    highlightSearchText: true,
                    searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                editing: {
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    mode: "cell",
                    useIcons: false,
                    confirmDelete: true,
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "after", widget: "dxButton",
                            options: {
                                icon: "refresh", tylingMode: "filled", type: "default",
                                onClick: () => container.refresh()
                            }
                        })
                },
                rowDragging: {
                    allowDropInsideItem: true,
                    allowReordering: false,
                    dropFeedbackMode: "push",
                    onDragEnd: function (e) {
                        //var source = e.itemData,
                        //    target = e.component.getVisibleRows()[e.toIndex].data,
                        //    d = $.Deferred();
                        //customStore.update(source.id, { parentId: (source.id != target.id) ? target.id : 0 }).then(() => {
                        //    e.component.refresh().then(d.resolve, d.reject);
                        //}, d.reject);
                    },
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 1)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                }
            });
        }
    </script>
}


