
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Theo dõi ngân sách";
} 

<div class="row">
    <div class="col-4">
        <div id="container_hangmuc" class="elevation-2"></div>
    </div>
    <div class="col-8">
        <div id="container_nhomcongviec" class="elevation-2"></div>
    </div>
</div>

@section script{
    <script> 
        const ACTION_PROJECT = "/Projects";
        const ACTION_HANGMUC = "/NS_HangMuc";
        const ACTION_NHOMCONGVIEC = "/NS_NhomCongViec";
        const ACTION_LOAICONGVIEC = "/NS_LoaiCongViec"; 

        let customStore_Projects = new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                var deferred = $.Deferred();
                $.ajax({
                    headers: header, dataType: "json",
                    url: URL_API_PM_READ + ACTION_PROJECT,
                    success: function (data) {
                        var list = data.result.items.filter(x => x.isActive == true && x.isVisible == true);
                        if (PROJECTID == 0) {
                            localStorage.setItem("projectIdCurrent", parseInt(list[0].id));
                            PROJECTID = parseInt(list[0].id)
                        }
                        deferred.resolve(list);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Projects'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });
        let customStore_HangMuc = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                let deferred = $.Deferred();
                let params = {
                    'findId': 'projectId,' + PROJECTID
                };
                if (values.filter && values.filter[0] == "parentId")
                    params['FindParentId'] = values.filter[2];
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }
                $.ajax({
                    headers: header, dataType: "json",
                    data: params,
                    url: URL_API_PM_READ + ACTION_HANGMUC,
                    success: function (data) {
                        var list = data.result.items.filter(x => x.isActive == true && x.isVisible == true);
                        deferred.resolve(list);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Hạng mục'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });
        let customStore_NhomCongViec = (iDHangMuc) => new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                let deferred = $.Deferred();
                let params = {
                    'PageSize': isNullOrEmpty(values.take) ? values.take : 0,
                    'PageNumber': (isNullOrEmpty(values.take) && isNullOrEmpty(values.skip)) ? ((values.skip / values.take) + 1) : 0,
                    'FindId': 'hangMucId,' + iDHangMuc
                } 
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }
                 
                $.ajax({
                    headers: header,
                    url: URL_API_PM_READ + ACTION_NHOMCONGVIEC,
                    dataType: "json",
                    data: params,
                    success: function (data) {
                        let list = data.result.items;
                        deferred.resolve(
                            list,
                            {
                                totalCount: list.length,
                            }
                        );
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách. Mở Console để xem chi tiết.");
                    },
                    timeout: 5000
                });
                return deferred.promise();
            },
            insert: (values) => ajax_insert(URL_API_PM_CMD + ACTION_NHOMCONGVIEC, values),
            update: (key, values) => ajax_update(URL_API_PM_CMD + ACTION_NHOMCONGVIEC, key, values),
            remove: (key) => ajax_delete(URL_API_PM_CMD + ACTION_NHOMCONGVIEC, key),
        });
        let customStore_LoaiCongViec = new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                let deferred = $.Deferred();
                let params = {
                    'findId': 'projectId,' + PROJECTID +';isActive,1;isVisible,1'
                };
                if (values.filter && values.filter[0] == "parentId")
                    params['FindParentId'] = values.filter[2];
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }
                $.ajax({
                    headers: header, dataType: "json",
                    data: params,
                    url: URL_API_PM_READ + ACTION_LOAICONGVIEC,
                    success: function (data) {
                        deferred.resolve(data.result.items);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Hạng mục'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });

        $(function () {
            loadHangMuc();
        });

        let loadHangMuc = () => {
            $("#container_hangmuc").dxTreeList({
                height: heightScreen,
                dataSource: customStore_HangMuc,
                remoteOperations: {
                    filtering: true,
                    sorting: true,
                    grouping: false
                },
                selection: {
                    mode: "single"
                },
                scrolling: { mode: "standard" },
                rootValue: 0, parentIdExpr: "parentId", keyExpr: "id",
                showBorders: false, showColumnHeaders: true, showColumnLines: false, hoverStateEnabled: true,
                showRowLines: true, columnAutoWidth: true, wordWrapEnabled: true, rowAlternationEnabled: false,
                columns: [
                    {
                        dataField: "tenHangMuc", caption: "hạng mục", dataType: "string",
                    },
                    {
                        dataField: "kyHieu", caption: "Ký hiệu", dataType: "string", alignment:"center",
                        cellTemplate: (c, o) => $("<div />").append((isNullOrEmpty(o.data.kyHieu) ? o.data.kyHieu : '--'), ).appendTo(c)
                    },
                    {
                        dataField: "status", dataType: "number", sortOrder: "desc", visible: false
                    },
                ],
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "before", widget: "dxSelectBox",
                            options: { 
                                dataSource: customStore_Projects,
                                valueExpr: "id", displayExpr: "title",
                                searchEnabled: true,
                                searchMode: "contains",
                                width: "100%",
                                showClearButton: false,
                                value: PROJECTID,
                                onValueChanged: function (data) {
                                    PROJECTID = data.value;
                                    localStorage.setItem('projectIdCurrent', PROJECTID);
                                    loadHangMuc();
                                },
                            },
                        },
                        {
                            location: "after", widget: "dxButton",
                            options: {
                                icon: "refresh", tylingMode: "filled", type: "default",
                                onClick: () => container.refresh()
                            }
                        })
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 0)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                },
                onSelectionChanged: (e) => {
                    if (e.selectedRowsData != null && e.selectedRowsData.length > 0 && e.selectedRowsData[0] != null) {
                        if (e.selectedRowsData[0].chilCount == 0) {
                            loadNhomCongViec(e.selectedRowsData[0].id);
                            $("#container_nhomcongviec").fadeIn("fast");
                        }
                        else $("#container_nhomcongviec").fadeOut("fast");
                    }
                },
                stateStoring: {
                    enabled: true,
                    storageKey: "ngansach-hangmuc-localStorage",
                    type: "localStorage"
                },
            });
        };
        let loadNhomCongViec = (iDHangMuc) => {
            $("#container_nhomcongviec").dxDataGrid({
                height: heightScreen,
                dataSource: customStore_NhomCongViec(iDHangMuc),
                remoteOperations: {
                    paging: true,
                    sorting: true,
                },
                repaintChangesOnly: true,
                showBorders: false, showColumnHeaders: true, showColumnLines: false, hoverStateEnabled: true,
                showRowLines: true, columnAutoWidth: true, wordWrapEnabled: true, rowAlternationEnabled: false,
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                columns: [
                    {
                        caption: "STT", alignment: "center",
                        cellTemplate: (c, o) => $("<div />").append(o.rowIndex + 1).appendTo(c),
                    },//STT
                    {
                        dataField: "tenNhomCongViec", caption: "Tên nhóm", dataType: "string", alignment: "left",
                        cellTemplate: (c, o) => $("<div />").append((o.value == null || o.value.length == 0) ? "--" : o.value).appendTo(c),
                        editorType: "dxTextBox",
                        editorOptions: {
                            placeholder: "Vui lòng nhập...",
                            showClearButton: true,
                        },
                        validationRules: [{ type: "required" }]
                    },//tenNhomCongViec
                    {
                        dataField: "loaiCongViecId", caption: "Loại công việc", dataType: "string",
                        lookup: {
                            dataSource: customStore_LoaiCongViec,
                            valueExpr: "id", displayExpr: "tenLoaiCongViec",
                        },
                        editorType: "dxDropDownBox",
                        editorOptions: {
                            dataSource: customStore_LoaiCongViec,
                            valueExpr: "id", displayExpr: "tenLoaiCongViec",
                            placeholder: "Vui lòng chọn...",
                            searchEnabled: true, showClearButton: true,
                            contentTemplate: function (e) {
                                var value = e.component.option("value"),
                                    $treeView = $("<div>").dxTreeView({
                                        dataSource: e.component.getDataSource(),
                                        dataStructure: "plain",
                                        keyExpr: "id",
                                        displayExpr: "tenLoaiCongViec",
                                        parentIdExpr: "parentId",
                                        selectionMode: "single",
                                        selectByClick: true,
                                        expandAllEnabled: false,
                                        searchEnabled: true,
                                        focusStateEnabled: true,
                                        onContentReady: function (args) {
                                            if (!value) {
                                                args.component.unselectAll();
                                            } else {
                                                args.component.selectItem(value);
                                            }
                                        },
                                        selectNodesRecursive: false,
                                        onItemSelectionChanged: function (args) {
                                            e.component.option("value", args.node.key);
                                            e.component.close();
                                        },
                                        itemTemplate: function (data) {
                                            console.log(data)
                                            return $("<div>").append($("<b>").append(data.tenLoaiCongViec).addClass("mr-1"), $("<em>").append(data.dienGiai));
                                        },
                                    });
                                treeView = $treeView.dxTreeView("instance");
                                e.component.on("valueChanged", function (args) {
                                    if (!value) {
                                        treeView.unselectAll();
                                    } else {
                                        treeView.selectItem(value);
                                    }
                                });
                                return $treeView;
                            },
                        },
                        cellTemplate: (c, o) => $("<div>").append(o.text, (o.data.chilCount > 0 ? $("<span />").addClass("float-right badge bg-info").append(o.data.chilCount + " chi tiết") : null)).appendTo(c),
                        validationRules: [{ type: "required" }]
                    },//loaiCongViecId 
                    {
                        dataField: "dienGiai", caption: "Diễn giải", dataType: "string", alignment: "left",
                        cellTemplate: (c, o) => $("<div />").append((o.value == null || o.value.length == 0) ? "--" : o.value).appendTo(c),
                        editorOptions: {
                            placeholder: "Vui lòng nhập...",
                            showClearButton: true,
                        },
                    },//dienGiai
                    {
                        dataField: "giaTri", caption: "Giá trị", dataType: "number", alignment: "center",
                        format: { type: "currency", currency: "VND" },
                        editorType: "dxNumberBox",
                        editorOptions: {
                            showClearButton: true,
                            format: "#,##0 đ",
                            min: 1000000, step: 1000000, showSpinButtons: true,
                        },
                        validationRules: [{ type: "required" }],
                    },//giaTri
                    {
                        dataField: "isLock", width: 120, caption: "Khóa xổ",
                        editorType: "dxSwitch", dataType: "boolean",
                        cellTemplate: (c, o) => {
                            if (o.value == true) $("<span />").addClass("badge badge-danger p-1").append($("<i/>").addClass("ti-lock mr-1"), "ĐÃ KHÓA").appendTo(c);
                            else $("<span />").addClass("badge badge-info p-1").append($("<i/>").addClass("ti-unlock mr-1"), "CHƯA KHÓA").appendTo(c);
                        }
                    },//isLock
                ],
                editing: {
                    mode: "popup",
                    popup: {
                        width: 600, height: "auto", showTitle: false,
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                    form: {
                        labelLocation: "left",
                        itemType: "group", colCount: 12,
                        showRequiredMark: true, requiredMark: "(*)",
                        items: [
                            {
                                colSpan: 12,
                                dataField: "loaiCongViecId",
                                label: { text: "Loại công việc" },
                            },
                            {
                                colSpan: 12,
                                dataField: "tenNhomCongViec",
                                label: { text: "Tên nhóm công việc" },
                            },
                            {
                                colSpan: 12,
                                dataField: "dienGiai",
                                label: { text: "Diễn giải" },
                            },
                        ]
                    }
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                    e.data.hangMucId = iDHangMuc;
                    e.data.isLock = false;
                },
                onToolbarPreparing: (e) => {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "before", widget: "dxButton",
                            options: {
                                icon: "add", text: "Nhóm việc", stylingMode: "contained", type: "default",
                                onClick: () => container.addRow()
                            }
                        },
                        {
                            location: "after", widget: "dxButton",
                            options: {
                                icon: "refresh", type: "default",
                                onClick: () => container.refresh()
                            }
                        })
                },
                onContextMenuPreparing: (e) => {
                    if (!e.items) e.items = []; 
                    if (e.target == "content" && e.rowIndex >= 0) {
                        e.items.push({
                            icon: "far fa-eye",
                            text: "Xem chi tiết",
                            onItemClick: () => callPopup("/NganSach/Default/_Detail/"+e.row.data.id, e.row.data.tenNhomCongViec.toUpperCase(), "98%", "96%")
                        });
                        e.items.push({
                            icon:"far fa-edit",
                            text: "Cập nhật thông tin",
                            onItemClick: () => e.component.editRow(e.rowIndex)
                        });
                        e.items.push({
                            icon: "far fa-trash-alt",
                            text: "Xóa bỏ",
                            onItemClick: () => e.component.deleteRow(e.rowIndex)
                        });
                    }
                }
            });
        };  
    </script>
}