
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cập nhật giá trị các nhóm công việc";
}
@section style{
    <style>
        .dx-datagrid-rowsview .dx-row.dx-group-row:not(.dx-row-focused) {
            color: rgba(0,0,0,.54);
            background-color: rgba(150, 150, 150, 0.2);
        }
    </style>
}
<div class="row">
    <div class="col-12">
        <div id="container" class="elevation-2"></div>
    </div>
</div>
@section script{
    <script src="~/Scripts/page/ngansach.js"></script>
    <script>
        var listGD = [];
        var customStore_GiaiDoan = (id, type) => new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                let deferred = $.Deferred();
                let params = {
                    'SortCol': 'status',
                    'SortADSC': '1',
                    'FindId': 'projectId,' + PROJECTID + ';isActive,1;isVisible,1'
                };
                $.ajax({
                    headers: header, dataType: "json",
                    data: params,
                    url: URL_API_PM_READ + ACTION_GIAIDOAN,
                    success: function (rs) {
                        listGD = rs.result.items;
                        if (type) {
                            var data = rs.result.items.filter(x => x.capDo == 'NCV');
                            if (id != 0) {
                                var statusCurrent = data.filter(x => x.id == id)[0].status;
                                data = data.filter(x => x.status > statusCurrent);
                            }
                            deferred.resolve(data);
                        } else {
                            deferred.resolve(rs.result.items);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Giai đoạn'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });
        var customStore_HangMuc = new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                let deferred = $.Deferred();
                let params = {
                    'SortCol': 'status',
                    'SortADSC': '1',
                    'FindId': 'projectId,' + PROJECTID + ';isActive,1;isVisible,1'
                };
                $.ajax({
                    headers: header, dataType: "json",
                    data: params,
                    url: URL_API_PM_READ + ACTION_HANGMUC,
                    success: function (rs) {
                        var data = rs.result.items;
                        deferred.resolve(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Giai đoạn'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });
        var customStore_NhomCongViec = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                let deferred = $.Deferred();
                let params = {
                    'FindId': 'projectId,' + PROJECTID + ';isActive,1;isVisible,1',
                    'TypeStore': GIAIDOANID,
                    'PageSize': isNullOrEmpty(values.take) ? values.take : 0,
                    'PageNumber': (isNullOrEmpty(values.take) && isNullOrEmpty(values.skip)) ? ((values.skip / values.take) + 1) : 0,
                };
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }
                $.ajax({
                    headers: header, dataType: "json",
                    data: params,
                    url: URL_API_PM_READ + ACTION_NHOMCONGVIEC + '/Detail',
                    success: function (data) {
                        deferred.resolve(data.result.items, { totalCount: data.result.pagingInfo.totalItems });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Hạng mục'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
            reshapeOnPush: true,
        });
        var customStore_NhomCongViecDetail = new DevExpress.data.CustomStore({
            key: "id",
            insert: (values) => ajax_insert(URL_API_PM_CMD + ACTION_NHOMCONGVIECDETAIL, values),
            update: (key, values) => ajax_update(URL_API_PM_CMD + ACTION_NHOMCONGVIECDETAIL, key, values),
            remove: (key) => ajax_delete(URL_API_PM_CMD + ACTION_NHOMCONGVIECDETAIL, key),
            onInserted: (key, values) => ajax_log_insert("Insert", ACTION_NHOMCONGVIECDETAIL, values, key),
            onUpdated: (key, values) => ajax_log_insert("Update", ACTION_NHOMCONGVIECDETAIL, key, values),
            onRemoved: (key) => ajax_log_insert("Delete", ACTION_NHOMCONGVIECDETAIL, key, null),
            reshapeOnPush: true,
        });
        var customStore_LoaiCongViec = new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                let deferred = $.Deferred();
                let params = {
                    'SortCol': 'status',
                    'SortADSC': '1',
                    'FindId': 'projectId,' + PROJECTID + ';isActive,1;isVisible,1'
                };
                $.ajax({
                    headers: header, dataType: "json",
                    data: params,
                    url: URL_API_PM_READ + ACTION_LOAICONGVIEC,
                    success: function (rs) {
                        var data = rs.result.items;
                        deferred.resolve(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Loại công việc'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });

        $(function () {
            loadData();
        });

        var loadData = () => $("#container").dxDataGrid({
            height: heightScreen,
            dataSource: customStore_NhomCongViec,
            remoteOperations: {
                paging: true,
                sorting: true,
                filtering: true,
            },
            paging: {
                enabled: true,
                pageSize: 20
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 20, 40],
                showInfo: true,
            },
            searchPanel: {
                highlightCaseSensitive: true, highlightSearchText: true,
                searchVisibleColumnsOnly: true, visible: true
            },
            showBorders: false, showColumnHeaders: true, showColumnLines: false, hoverStateEnabled: true,
            showRowLines: true, columnAutoWidth: true, wordWrapEnabled: true, rowAlternationEnabled: false,
            columns: [
                {
                    caption: "STT", width: 80, alignment: "center",
                    cellTemplate: (c, o) => c.append(o.rowIndex + 1)
                },
                {
                    dataField: "tenNhomCongViec", caption: "Tên nhóm công việc", dataType: "string",
                    cellTemplate: (c, o) => c.append(
                        $("<b>").addClass("font-weight-bold").append(o.value),
                        (o.data.dienGiai != null && o.data.dienGiai.length > 0) ? $("<em />").addClass("mt-1 ml-1").append("- " + o.data.dienGiai) : null,

                        $("<div />").addClass("text-muted").append(o.data.chilCount > 0 ? "Đang có <b>" + o.data.chilCount + " công việc</b>" : "Không có công việc cụ thể")
                    )
                }, 
                {
                    dataField: "hangMucId", caption: "Hạng mục", dataType: "string",
                    lookup: {
                        dataSource: customStore_HangMuc,
                        valueExpr: "id", displayExpr: "tenHangMuc",
                    },
                    groupIndex: 0
                },
                {
                    dataField: "loaiCongViecId", caption: "Loại công việc", dataType: "string",
                    lookup: {
                        dataSource: customStore_LoaiCongViec,
                        valueExpr: "id", displayExpr: "tenLoaiCongViec",
                    },
                },
                {
                    dataField: "giaiDoanId", caption: "Giai đoạn", alignment: "center",
                    lookup: {
                        dataSource: customStore_GiaiDoan(0, false),
                        valueExpr: "id", displayExpr: "tenGiaiDoan",
                    },
                },
                {
                    dataField: "giaTri", caption: "Giá trị", dataType: "number", alignment: "center",
                    format: { type: "currency", currency: "VND" },

                },
                {
                    caption: "Tương tác",
                    alignment: "center", width: 100,
                    cellTemplate: (c, o) => {
                        if (o.data.createBy_Name != null) {
                            $("<div />").attr('id', "popover-target-" + o.key).append(
                                $("<img />").attr("src", "data:image/png;base64," + o.data.createBy_Avartar).addClass("img-circle elevation-2 img-size-30"),
                                (o.data.modifyBy_Name != null && o.data.modifyBy_Name != o.data.createBy_Name) ? $("<img />").attr("src", "data:image/png;base64," + o.data.modifyBy_Avartar).addClass("img-circle elevation-2 img-size-30").attr("style", "margin-left: -15px !important") : null
                            ).appendTo(c);
                            $("<div />").attr('id', "popover-detail-" + o.key).append(
                                "<div><b>" + o.data.createBy_Name + "</b></div><em>" + o.data.createBy_Title + ' - ' + o.data.createBy_Department + "</em><div>" + "(Đã tạo cách đây " + moment(o.data.createDate).locale("vi").fromNow() + ")" + "</div>",
                                (o.data.modifyBy_Name != null) ? "<br/><div><b>" + o.data.modifyBy_Name + "</b></div><em>" + o.data.modifyBy_Title + ' - ' + o.data.modifyBy_Department + "</em><div>" + "(Đã cập nhật cách đây " + moment(o.data.updateDate).locale("vi").fromNow() + ")" + "</div>" : null
                            ).appendTo(c);
                            $("#popover-detail-" + o.key).dxPopover({
                                target: "#popover-target-" + o.key,
                                showEvent: "mouseenter", hideEvent: "mouseleave",
                                position: "bottom",
                                animation: {
                                    show: { type: "pop", from: { scale: 0 }, to: { scale: 1 } },
                                    hide: { type: "fade", from: 1, to: 0 }
                                }
                            });
                        }
                    }
                },
                {
                    dataField: "createDate", width: 150, dataType: "date", alignment: "center",
                    caption: "Thời gian tạo",
                    cellTemplate: (c, o) => {
                        if (o.value != null) {
                            $("<div />").append(
                                $("<em />").addClass("small").append("Cách đây " + moment(o.value).locale("vi").fromNow()),
                                $("<div/>").addClass("font-weight-bold").append(moment(o.value).format("HH:mm DD/MM/YY"))
                            ).appendTo(c);
                        }
                    }
                },
                {
                    dataField: "nhomCongViecDetailId", dataType: "number", visible: false,
                },
                //{
                //    type: "buttons", caption: "Tác vụ", alignment: "center",
                //    buttons: [
                //        {
                //            hint: "Xem chi tiết công việc", icon: "fas fa-eye",
                //            visible: (e) => e.row.data.chilCount>0,
                //            onClick: (e) => window.location = "/NganSach/CongViec/ChiTiet?id=" + e.row.data.id
                //        },
                //        {
                //            hint: "Thêm giá trị theo giai đoạn", icon: "fas fa-plus-circle",
                //            visible: (e) => PermitInAction["insert"] && listGD.filter(x => x.capDo == 'NCV' && x.id == e.row.data.giaiDoanId).length>0,
                //            onClick: (e) => genUpdateForm(e.row.data, true)
                //        },
                //        {
                //            hint: "Cập nhật giá trị theo giai đoạn", icon: "fas fa-edit",
                //            visible: (e) => (e.row.data.nhomCongViecDetailId != null && PermitInAction["update"] && listGD.filter(x => x.capDo == 'NCV' && x.id == e.row.data.giaiDoanId).length > 0),
                //            onClick: (e) => genUpdateForm(e.row.data, false)
                //        },
                //        {
                //            hint: "Hủy bỏ giá trị theo giai đoạn", icon: "fas fa-trash",
                //            visible: (e) => (e.row.data.nhomCongViecDetailId != null && PermitInAction["delete"] && listGD.filter(x => x.capDo == 'NCV' && x.id == e.row.data.giaiDoanId).length > 0),
                //            onClick: (e) => {
                //                DevExpress.ui.dialog.confirm("Bạn có chắc là muốn hủy bỏ giá trị của nhóm công việc?", "XÁC NHẬN THÔNG TIN").done(function (dialogResult) {
                //                    if (dialogResult) {
                //                        var deferred = $.Deferred();
                //                        customStore_NhomCongViecDetail.remove(e.row.data.nhomCongViecDetailId).then(() => {
                //                            DevExpress.ui.notify("Hủy bỏ giá trị nhóm công việc thành công", "success", 3000);
                //                            $("#container").dxDataGrid('instance').refresh();
                //                        }, deferred.reject);
                //                        return deferred.promise();
                //                    }
                //                });
                //            }
                //        }
                //    ]
                //}
            ],
            summary: {
                totalItems: [
                    {
                        column: "giaTri",
                        summaryType: "sum",
                        valueFormat: { type: "currency", currency: "VND" },
                    },
                ],
                groupItems: [
                    {
                        column: "giaTri",
                        summaryType: "sum", alignByColumn: true,
                        valueFormat: { type: "currency", currency: "VND" },
                    },
                    {
                        column: "tenNhomCongViec",
                        summaryType: "count",
                        displayFormat: "{0} nhóm",
                    }
                ]
            },
            selection: {
                mode: "single"
            },
            onContentReady: (e) => {
                DevExpress.config({
                    floatingActionButtonConfig: {
                        icon: "rowfield",
                        label: "Tác vụ",
                        shading: true,
                        position: {
                            of: e.element,
                            my: "right bottom",
                            at: "right bottom",
                            offset: e.component.pageCount() > 1 ? "-15 -60" : "-15 -15"
                        }
                    }
                });
                DevExpress.ui.repaintFloatingActionButton();
            },
            onSelectionChanged: function (e) {
                var data = e.selectedRowsData[0];
                console.log(data)
                if (data != null) {
                    if (GIAIDOANID != null) {
                        $("#action-add-sub").dxSpeedDialAction({
                            index: 5, icon: "columnfield", label: "Tách nhóm công việc",
                            visible: (PermitInAction["insert"] && listGD.filter(x => x.capDo == 'NCV' && x.id == data.giaiDoanId).length > 0) && data.chilCount>0,
                            onClick: () => genTachNhomForm(data)
                        }).dxSpeedDialAction("instance");
                    }

                    $("#action-add").dxSpeedDialAction({
                        index: 1, icon: "fas fa-plus", label: "Thêm giá trị",
                        visible: (PermitInAction["insert"] && listGD.filter(x => x.capDo == 'NCV' && x.id == data.giaiDoanId).length > 0),
                        onClick: () => genUpdateForm(data, true)
                    }).dxSpeedDialAction("instance");

                    $("#action-update").dxSpeedDialAction({
                        index: 2, icon: "fas fa-edit", label: "Cập nhật giá trị mới",
                        visible: (data.nhomCongViecDetailId != null && PermitInAction["update"] && listGD.filter(x => x.capDo == 'NCV' && x.id == data.giaiDoanId).length > 0),
                        onClick: () => genUpdateForm(data, false)
                    }).dxSpeedDialAction("instance");

                    $("#action-delete").dxSpeedDialAction({
                        index: 3, icon: "fas fa-trash", label: "Hủy bỏ giá trị cũ",
                        visible: (data.nhomCongViecDetailId != null && PermitInAction["delete"] && listGD.filter(x => x.capDo == 'NCV' && x.id == data.giaiDoanId).length > 0),
                        onClick: (e) => {
                            DevExpress.ui.dialog.confirm("Bạn có chắc là muốn hủy bỏ giá trị của hạng mục?", "XÁC NHẬN THÔNG TIN").done(function (dialogResult) {
                                if (dialogResult) {
                                    var deferred = $.Deferred();
                                    customStore_NhomCongViecDetail.remove(data.nhomCongViecDetailId).then(() => {
                                        DevExpress.ui.notify("Hủy bỏ giá trị hạng mục thành công", "success", 3000);
                                        e.component.refresh();
                                    }, deferred.reject);
                                    return deferred.promise();
                                }
                            });
                        }
                    }).dxSpeedDialAction("instance");

                    $("#action-log").dxSpeedDialAction({
                        index: 4, icon: "fas fa-history", label: "Nhật ký cập nhật",
                        visible: (data.chilCount == 0 && data.nhomCongViecDetailId != null),
                        onClick: () => callLogEvent(data.nhomCongViecDetailId, ACTION_NHOMCONGVIECDETAIL)
                    }).dxSpeedDialAction("instance");
                }
            },
            onRowUpdating: (options) => {
                if (options.oldData.giaiDoanId != null) options.newData['giaiDoanId'] = options.oldData.giaiDoanId;
                options.newData['nhomCongViecDetailId'] = options.oldData.nhomCongViecDetailId;
                options.newData = options.newData;
            },
            onToolbarPreparing: function (e) {
                var container = e.component;
                e.toolbarOptions.items.unshift(
                    {
                        location: "before", widget: "dxSelectBox",
                        options: {
                            dataSource: customStore_Projects,
                            valueExpr: "id", displayExpr: "title",
                            width: "100%", searchEnabled: true, searchMode: "contains",
                            showClearButton: false, stylingMode: "filled",
                            value: PROJECTID,
                            onValueChanged: function (data) {
                                PROJECTID = data.value;
                                localStorage.setItem('projectIdCurrent', PROJECTID);
                                container.refresh();
                            },
                        },
                    },
                    {
                        location: "before", widget: "dxSelectBox",
                        options: {
                            dataSource: customStore_GiaiDoan(0, true),
                            placeholder: "Xem theo giai đoạn...",
                            valueExpr: "id", displayExpr: "tenGiaiDoan",
                            width: "100%", searchEnabled: true, searchMode: "contains",
                            stylingMode: "filled", showClearButton: true,
                            value: GIAIDOANID,
                            onValueChanged: function (data) {
                                GIAIDOANID = data.value;
                                localStorage.setItem('giaiDoanIdCurrent', GIAIDOANID);
                                container.refresh();
                            },
                        },
                    },
                    {
                        location: "after", widget: "dxButton",
                        options: {
                            icon: "refresh", tylingMode: "filled", type: "default",
                            onClick: () => container.refresh()
                        }
                    }
                )
            },
            onRowDblClick: (e) => {
                if (e.data.chilCount > 0) {
                    window.location = "/NganSach/CongViec/ChiTiet?id=" + e.data.id
                } else DevExpress.ui.notify("Nhóm công việc này không có công việc cụ thể để xem", "error", 3000);
            }
        });

        var formData = {};
        var genUpdateForm = (data, type) => $("#popup-main").dxPopup({
            position: { of: "#container" },
            width: 500, height: "auto",
            fullScreen: $(window).width() <= 500,
            dragEnabled: true, resizeEnabled: false,
            showTitle: true, title: type ? "Thêm giá trị nhóm công việc theo giai đoạn" : "Cập nhật giá trị nhóm công việc",
            showCloseButton: true, closeOnOutsideClick: false,
            visible: true,
            contentTemplate: (c) => {
                console.log(data);
                formData = type ? {
                    "giaiDoanId": "",
                    "nhomCongViecId": data.id,
                    "giaTri": 1000000000,
                    "isActive": true,
                    "isVisible": true
                } : {
                        "id": data.nhomCongViecDetailId,
                        "giaiDoanId": data.giaiDoanId,
                        "giaTri": data.giaTri,
                    };
                var scrollView = $("<div id='scrollView'></div>");
                var content = $("<form />").attr("id", "form-container").data("type", type);
                content.dxForm({
                    formData: formData,
                    labelLocation: "left", requiredMark: "(*)",
                    items: [{
                        itemType: "group", colCount: 12,
                        items: [
                            {
                                colSpan: 12,
                                dataField: "giaiDoanId",
                                label: { text: "Giai đoạn" },
                                editorType: "dxLookup",
                                editorOptions: {
                                    disabled: !type,
                                    dataSource: customStore_GiaiDoan((type ? (data.giaiDoanId == null ? 0 : data.giaiDoanId) : 0), true),
                                    valueExpr: "id", displayExpr: "tenGiaiDoan",
                                    placeholder: "Vui lòng chọn...",
                                    searchEnabled: true, showClearButton: true,
                                    itemTemplate: function (data) {
                                        return $("<div>").append($("<b>").append(data.tenGiaiDoan).addClass("mr-1"), $("<em>").append(data.dienGiai));
                                    },
                                },
                                validationRules: [{ type: "required" }]
                            },
                            {
                                colSpan: 12,
                                dataField: "giaTri",
                                label: { text: "Giá trị" },
                                editorType: "dxNumberBox",
                                editorOptions: {
                                    placeholder: "Vui lòng nhập giá trị...",
                                    showClearButton: true,
                                    format: "#,##0 đ",
                                    min: 1000000, step: 1000000000, showSpinButtons: true,
                                },
                                validationRules: [{ type: "required" }]
                            },
                            {
                                itemType: "button", colSpan: 12,
                                horizontalAlignment: "center",
                                buttonOptions: {
                                    height: 35, width: "100%",
                                    text: "Xác nhận",
                                    type: "success",
                                    useSubmitBehavior: true
                                }
                            }
                        ]
                    }]
                }).dxForm("instance");

                scrollView.append(content);
                scrollView.dxScrollView({ width: '100%', height: '100%' });
                c.append(scrollView);
                return c;
            },
            onHiding: () => $("#container").dxDataGrid('instance').refresh(),
        });
        $(document).on('submit', '#form-container', function (e) {
            var form = $(this);
            var deferred = $.Deferred();
            if (form.data("type") == true) {
                customStore_NhomCongViecDetail.insert(
                    formData
                ).then(() => {
                    DevExpress.ui.notify("Thêm giá trị nhóm công việc thành công", "success", 3000);
                    $("#popup-main").dxPopup('instance').hide();
                }, deferred.reject);
            } else {
                customStore_NhomCongViecDetail.update(formData.id,
                    formData
                ).then(() => {
                    DevExpress.ui.notify("Cập nhật giá trị nhóm công việc thành công", "success", 3000);
                    $("#popup-main").dxPopup('instance').hide();
                }, deferred.reject);
            }
            e.preventDefault();
            return deferred.promise();
        });


        var genTachNhomForm = (data) => DevExpress.ui.notify("Đang cập nhật", "error", 3000);
    </script>
}